.map {
  height: auto;
  width: 80%;
  border: 5px solid #c3c3cc;
  overflow: visible;
  border-radius: 10px;
  margin: 30px auto;
}
.next-button,.previous-button,.submit-button
{
  background-color: #20d8e4;
  padding: 11px 30px;
  border: 1px solid #a7b4e6;
  border-radius: 5px;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 19px;
}
div.prevContainer{
  position: relative;
  left: 536px;
  display: inline-block;
  top: 0px;
  }
div.nextContainer{
  position: relative;
  left: 983px;
  display: inline-block;
  top: 0px;
}
.curretnGcp{
  padding:10px;
}
#container-images{
  overflow: visible;
}
#images{
  height:300px;
  width:500px;
}
.carousel{
  height:500px;
  width:800px;
}
.container{
  border:1px solid red;
  height: auto;
}
#map2{
  height:200px;
  width:800px;
}
